PyYAML==5.1.2
requests==2.22.0
forcediphttpsadapter==1.0.1
kubernetes==8.0.1
pytest==6.0.1
ipaddress==1.0.22 # >= 1.0.17
cffi==1.12.3
pyOpenSSL==20.0.0
certifi==2019.6.16
urllib3==1.25.3
pytest-html==2.1.1
pytest-profiling==1.7.0
